@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-image: linear-gradient(to right, #0077FF, #0044AA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  }

body{
  overflow-x: hidden;
}